*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #00cad1;
}

.menu {
    display: flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    width: 150px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

a:hover {
    color: #0000008c;
}





.banner {
    background-image: url('../assets/recepcao.png');
    background-size: cover;
    height: 80vh;
}

.titulo {
    width: 100%;
    display: flex;
    max-width: 1024px;
}

h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
}

span {
    color: #fff;
    display: block;
}





.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre {
    max-width: 600px;
    text-align: center;
    margin-top: 20px;
}

.sobre h2 {
    padding: 20px 0;
    
}

.lista {}
