* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #00cad1;
}

.menu {
    display: flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    width: 150px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}

a:hover {
    color: #0000008c;
}





.banner {
    background-image: url('../assets/recepcao.png');
    background-size: cover;
    height: 80vh;
}

.titulo {
    width: 100%;
    display: flex;
    max-width: 1024px;
}

h1 {
    color: #fff;
    font-size: 38px;
    font-weight: 400;
    text-transform: uppercase;
}

span {
    color: #fff;
    display: block;
}





.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sobre {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.sobre span {
    display: block;
    color: #0000008c;
}

.sobre h2 {
    padding: 20px 0;

}

.lista {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 600px;
    padding: 20px 0;
}

.lista img {
    width: 33%;
}

.lista p {
    padding: 20px 0;
}

.galeria {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    width: 100%;
    max-width: 1024px;
    padding: 30px 0;
}

.img {
    width: 300px;
    border-radius: 2px;
}

.card {
    border-radius: 2px;
    box-shadow: 0 0 8px 0 #000;
    text-align: center;
}

.card p {
    padding: 10px 0;
    text-transform: uppercase;
}

.container-button {
    padding: 20px 0;
}

.button {
    background-color: #00cad1;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}





.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
    max-width: 1024px;
    width: 100%;
}

.contato span {
    color: #0000008c;
    font-weight: bold;
}






footer {
    margin-top: 30px;
    background-color: #0c6e71;
    padding: 30px 0;
    text-align: center;
}

footer img {
    width: 150px;
}

footer a {
    text-decoration: none;
    display: block;
    color: #fff;
    line-height: 40px;
}