*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Source Sans Pro', sans-serif;
    color: #0000008c;
}

header {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #00cad1;
}

.menu {
    display: flex;
    width: 100%;
    max-width: 1024px;
    align-items: center;
    justify-content: space-between;
}

.menu img {
    width: 150px;
}

nav a {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
    font-size: 20px;
}